#modalEliminarSubcategoria .modal-header .modal-title,
#modalEliminarSubcategoria .modal-header .modal-title i,
#modalEliminarSubcategoria .modal-header .close {
	color: #ffffff !important;
}
#modalEliminarSubcategoria .modal-header {
	padding: 1rem 1.5rem;
}

#modalEliminarSubcategoria .modal-body {
	padding: 1.25rem 1.5rem;
}
#modalEliminarSubcategoria .modal-content{border-radius:10px}